@font-face {
	font-family: Open Sans Condensed Bold;
	src: url("../fonts/OpenSans-CondBold.ttf");
}

@font-face {
	font-family: Playfair Display Regular;
	src: url("../fonts/PlayfairDisplay-Regular.ttf");
}






.preload *, .preload *:after {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}




body {
	font-size: 16px;
	

	#main {

		width: 100%;
		transition: 600ms ease;
	}

	.main-left {
		position:absolute;
		left: 470 !important;
		transition: 600ms ease;
	}




	#menu_button_container {
		position: fixed;
		margin-top: 10px;
		z-index: 10;
		width: 0;
		transition: .3s;

		.menu_button {
			position: relative;
			width: 48px;



			.bar {
				display: block;
				width: .8rem;
				height: .5rem;
				margin: 1rem 0;
				border-right: 4.8rem solid #fff;
				-webkit-transition: all 600ms ease-in-out;
				-moz-transition: all 600ms ease-in-out;
				-ms-transition: all 600ms ease-in-out;
				-o-transition: all 600ms ease-in-out;
				transition: all 600ms ease-in-out;

				&:nth-of-type(1),
				&:nth-of-type(3) {
					-webkit-transition: all 300ms ease-in-out;
					-moz-transition: all 300ms ease-in-out;
					-ms-transition: all 600ms ease-in-out;
					-o-transition: all 600ms ease-in-out;
					transition: all 600ms ease-in-out;
				}

				&:nth-of-type(2):after {
					content: "";
					position: absolute;
					border-right: 4.8rem solid #ffffff;
					width: .8rem;
					height: .5rem;
					-webkit-transition: -webkit-all 300ms ease-in-out;
					-moz-transition: -moz- 300ms ease-in-out;
					-ms-transition: -ms-all 600ms ease-in-out;
					-o-transition: -o-all 600ms ease-in-out;
					transition: 600ms ease-in-out;
				}

			}

			.bar-scroll {
				border-right: 4.8rem solid #464646 !important;

				&:nth-of-type(2):after {
					border-right: 4.8rem solid #464646 !important;
				}
			}
		}
	}


	.pushed .menu_button {

		.bar:nth-of-type(1){
			opacity: 0;
			transform: translateY(-10px);
			border-right: 4.8rem solid #464646 !important;
			
		}

		.bar:nth-of-type(3){
			opacity: 0;
			transform: translateY(10px);
			border-right: 4.8rem solid #464646 !important;
		}

		.bar:nth-of-type(2){
			border-right: 4.8rem solid #464646 !important;
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);

			&:after {
				content: "";
				border-right: 4.8rem solid #464646 !important;
				-webkit-transform: rotate(90deg);
			    -moz-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				transform: rotate(90deg);
			}
		}

		
	}






	#nav {
		position: fixed;
		background-color: white;
		height: 100%;
		margin-left: -15px;
		font-size: 5rem;
		padding-top: 75px;
		z-index: 9;
		left:-470;
		transition: 600ms;


		list-style-type: none;
		
		font-family: Open Sans Condensed Bold;
	

		li {

			margin: 50px 0;

			a {
				position: relative;
				color: #464646;

				&:after {
					content: "";
					position: absolute;
					background-color: #ccffdd;
					height: 7px;
					width: 0;
					top: 100%;
					left: 0;

					-webkit-transition: opacity .4s ease-in-out, width .4s ease-in-out;
				   -moz-transition: opacity .4s ease-in-out, width .4s ease-in-out;
				   -o-transition: opacity .4s ease-in-out, width .4s ease-in-out;
				   transition: opacity .4s ease-in-out, width .4s ease-in-out;

				}


				&:link, &:active, &:visited {
					color: #464646;
					text-decoration: none;
				}



				&:hover {
					color: #464646;
					text-decoration: none;

					&:after {

						opacity: 1;
						width: 100%;
					}
				}
			}

		}
	}


	.nav-left {
		left: 0 !important;
	}



	#main {
		background: url("../img/header.jpg");
		background-size: cover;
		background-position: center;
		height: 100vh;
		background-attachment: fixed;


		.parent-container {
			position:relative;

			#logo {
				position: absolute;
				left:100;


				h3 {
					position: absolute;
					font-family: Playfair Display Regular;
					font-size: 3.75rem;
					color: #fff;
					margin-top: 16px;
					padding-bottom: 5px;
					transition: 600ms;

					span {
						position: absolute;
						color: #ccffdd;
						top: 0;
						left: 195;
						transition: 600ms;
					}
				}
			}

		}

		.logo-left {


			h3 {
				color: #464646 !important;

				span {
					color: #464646 !important;

				}
			}
		}

		#quote {
			position: absolute;
			width: 100%;

			span:nth-child(1) {
				position: relative;
				font-family: Open Sans Condensed Bold;
				font-size: 10rem;
				color: #ccffdd;

				top: 250;
			}

			span:nth-child(2) {
				position: relative;
				font-family: Playfair Display Regular;
				font-size: 7rem;
				color: #ccffdd;

				top: 300;

			}

			span:nth-child(3) {
				position: relative;
				font-family: Open Sans Condensed Bold;
				font-size: 10rem;
				color: #ccffdd;

				top: 370;

			}
		}
	}

	#intro {

		p {
			font-family: Playfair Display Regular;
			font-size: 2.5rem;
			padding: 100px 0;
			line-height: 40px;
		}
	}



	#three_values {
		background-color: #ccffdd;
		width: 100%;

		span {
			position: absolute;
			font-family: Open Sans Condensed Bold;
			font-size: 18rem;
			color: #b7e5c6;
		}

		p {
			position: absolute;
			font-family: Playfair Display Regular;
			font-size: 2.5rem;
			line-height: 40px;
			color: #464646;

			
		}



		#vision {
			margin: 0px;

			img {
				margin-left: -15px;
				padding:0;
				opacity: 0;

			}

			span {
				top: -50;
				left: -205;
				opacity: 0;
				animation-delay: 200ms;
			}


			p {
				top: 100;
				opacity: 0;
				animation-delay: 400ms;
			}
		}

		#value-photos {
			margin: 0;
			padding: 0;

			img {
				margin: 0;
				padding: 0;
				width: 50%;
				opacity: 0;
			}

			img:nth-of-type(2) {
				animation-delay: 200ms;
			}
		}

		#strategy {
			background: #ccffdd;
			width: 100%;
			margin: 0;
			padding: 0;

			span{
				top: -55;
				left: 85;
				z-index:1;
				animation-delay: 200ms;
			}

			p {
				top: 100;
				z-index:2;
				animation-delay: 400ms;
			}

			img {
				position: relative;
				margin: 0;
				padding:0;
				left:159;
				transition: 600ms;
			}
		}
	}
}

