
.preload *, .preload *:after {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}



html {
	font-size: 10px;
	box-sizing: border-box;
}

body {

	#main {
		width: 100%;
		background: url("../img/header.jpg");
		background-size: cover;
		background-position: center;
		height: 100vh;
		background-attachment: fixed;
	}


	#menu_button_container {
		position: fixed;
		margin-top: 10px;
		z-index: 99;
		width: 0;
		transition: .3s;

		.menu_button {
			position: relative;
			width: 48px;



			.bar {
				display: block;
				width: .8rem;
				height: .5rem;
				margin: 1rem 0;
				border-right: 4.8rem solid #fff;
				-webkit-transition: all 600ms ease-in-out;
				-moz-transition: all 600ms ease-in-out;
				-ms-transition: all 600ms ease-in-out;
				-o-transition: all 600ms ease-in-out;
				transition: all 600ms ease-in-out;

				&:nth-of-type(1),
				&:nth-of-type(3) {
					-webkit-transition: all 600ms ease-in-out;
					-moz-transition: all 600ms ease-in-out;
					-ms-transition: all 600ms ease-in-out;
					-o-transition: all 600ms ease-in-out;
					transition: all 600ms ease-in-out;
				}

				&:nth-of-type(2):after {
					content: "";
					position: absolute;
					border-right: 4.8rem solid #fff;
					width: .8rem;
					height: .5rem;
					-webkit-transition: all 600ms ease-in-out;
					-moz-transition: all 600ms ease-in-out;
					-ms-transition: all 600ms ease-in-out;
					-o-transition: all 600ms ease-in-out;
					transition: all 600ms ease-in-out;
				}

			}

			.bar-scroll {
				border-right: 4.8rem solid #464646;

				&:nth-of-type(2):after {
					border-right: 4.8rem solid #464646;
				}
			}

			.pushed {

				&:nth-of-type(1){
					opacity: 0;
					border-right: 4.8rem solid #464646;
					-webkit-transform: translateY(-10px);
					-moz-transform: translateY(-10px);
					-ms-transform: translateY(-10px);
					-o-transform: translateY(-10px);
					transform: translateY(-10px);
				}

				&:nth-of-type(3){
					opacity: 0;
					border-right: 4.8rem solid #464646;
					-webkit-transform: translateY(10px);
					-moz-transform: translateY(10px);
					-ms-transform: translateY(10px);
					-o-transform: translateY(10px);
					transform: translateY(10px);
				}

				&:nth-of-type(2){
					border-right: 4.8rem solid #464646;
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);

					&:after {
						content: "";
						border-right: 4.8rem solid #464646;
						-webkit-transform: rotate(90deg);
					    -moz-transform: rotate(90deg);
						-ms-transform: rotate(90deg);
						-o-transform: rotate(90deg);
						transform: rotate(90deg);
					}
				}	
			}
		}
	}


	






	#nav {
		position: fixed;
		background-color: white;
		height: 100%;
		margin-left: -15px;
		font-size: 5rem;
		z-index: 15;
		left:-470;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;


		list-style-type: none;
		
		font-family: Open Sans Condensed;

		-webkit-transition: 600ms;
		-moz-transition: 600ms;
		-ms-transition: 600ms;
		-o-transition: 600ms;
		transition: 600ms;
	

		li {

			margin: 35px 0;

			a {
				position: relative;
				color: #464646;

				&:after {
					content: "";
					position: absolute;
					background-color: #ccffdd;
					height: 7px;
					width: 0;
					top: 100%;
					left: 0;

				   -webkit-transition: opacity .4s ease-in-out, width .4s ease-in-out;
				   -moz-transition: opacity .4s ease-in-out, width .4s ease-in-out;
				   -o-transition: opacity .4s ease-in-out, width .4s ease-in-out;
				   transition: opacity .4s ease-in-out, width .4s ease-in-out;

				}


				&:link, &:active, &:visited {
					color: #464646;
					text-decoration: none;
				}



				&:hover {
					color: #464646;
					text-decoration: none;

					&:after {

						opacity: 1;
						width: 100%;
					}
				}
			}

		}
	}


	.nav-left {
		left: 0 !important;
	}



	#main {
		


		.parent-container {
			position:relative;

			#logo {
				position: absolute;
				left: 70;


				h3 {
					position: absolute;
					font-family: Playfair Display;
					font-size: 3.75rem;
					color: #fff;
					margin-top: 16px;
					padding-bottom: 5px;

				    -webkit-transition: 600ms;
				    -moz-transition: 600ms;
				    -o-transition: 600ms;
					transition: 600ms;

					span {
						position: absolute;
						color: #ccffdd;
						top: 0;
						left: 200;
						-webkit-transition: 600ms;
					    -moz-transition: 600ms;
					    -o-transition: 600ms;
						transition: 600ms;
					}
				}
			}

		}






		/* Quote Section */


		#quote {
			position: absolute;
			width: 100%;
			height: 100vh;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;

			span:nth-child(1) {
				position: relative;
				font-family: Open Sans Condensed;
				font-size: 15rem;
				color: #ccffdd;
				top: -40;
			}

			span:nth-child(2) {
				position: relative;
				font-family: Playfair Display;
				font-size: 7rem;
				color: #ccffdd;

				

			}

			span:nth-child(3) {
				position: relative;
				font-family: Open Sans Condensed;
				font-size: 15rem;
				color: #ccffdd;

				top: 40;

			}
		}
	}



	/* Intro Section */

	#intro {
		position: relative;
		z-index: 10;
		background-color: #fff;

		p {
			font-family: Playfair Display;
			font-size: 2.5rem;
			padding: 100px 0;
			line-height: 40px;
		}
	}







	/*Three Values section */


	#three_values {
		background-color: #ccffdd;
		width: 100%;
		margin:0;
		padding:0;

		span {
			position: absolute;
			font-family: Open Sans Condensed;
			font-size: 18rem;
			color: #b7e5c6;
		}

		p {
			
			font-family: Playfair Display;
			font-size: 2.5rem;
			line-height: 40px;
			color: #464646;

			
		}



		#vision {
			position: relative;
			display: flex;
			align-items:center;
			margin: 0px;

			img {
				margin-left: -15px;
				padding:0;
				opacity: 0;
			}

			div {
				padding: 0;

				span {
					position: absolute;
					top: -50;
					left: -205;
					opacity: 0;

					-webkit-animation-delay: 200ms;
					-moz-animation-delay: 200ms;
					-ms-animation-delay: 200ms;
					-o-animation-delay: 200ms;
					animation-delay: 200ms;
				}


				p {

					opacity: 0;

					-webkit-animation-delay: 400ms;
					-moz-animation-delay: 400ms;
					-ms-animation-delay: 400ms;
					-o-animation-delay: 400ms;
					animation-delay: 400ms;
				}
			}
		}

		#value-photos {
			margin: 0;
			padding: 0;

			img {
				margin: 0;
				padding: 0;
				width: 50%;
				opacity: 0;
			}

			img:nth-of-type(2) {
				-webkit-animation-delay: 200ms;
				-moz-animation-delay: 200ms;
				-ms-animation-delay: 200ms;
				-o-animation-delay: 200ms;
				animation-delay: 200ms;
			}
		}

		#strategy {
			background: #ccffdd;
			position: relative;
			display: flex;
			align-items:center;
			margin: 0;
			padding: 0;

			div{
				padding: 0;
				z-index:2;

				span{
					position: absolute;
					top: -55;
					left: 85;
					opacity: 0;

					-webkit-animation-delay: 200ms;
					-moz-animation-delay: 200ms;
					-ms-animation-delay: 200ms;
					-o-animation-delay: 200ms;
					animation-delay: 200ms;
				}

				p {
					z-index:2;
					left: -5;
					opacity: 0;

					-webkit-animation-delay: 400ms;
					-moz-animation-delay: 400ms;
					-ms-animation-delay: 400ms;
					-o-animation-delay: 400ms;
					animation-delay: 400ms;
				}
			}

			img {
				position: relative;
				margin: 0;
				padding:0;
				left:8.36%;
				opacity: 0;

				-webkit-transition: 600ms;
				-moz-transition: 600ms;
				-ms-transition: 600ms;
				-o-transition: 600ms;
				transition: 600ms;
			}
		}

		#advantage {
			background: #fff;
			margin:0;
			padding: 0 15px;

			p {
				padding: 100px 0;
				line-height: 40px;
			}
		}
	}







	/*clients section*/

	#clients {
		background: url("../img/clients.jpg");
		background-size: cover;
		background-position: center;
		padding: 55px 0;

		span {
			font-size: 12rem;
			padding: 0;
			font-family: Open Sans Condensed;
			color: #464646;
		}

		div {
			padding: 0;

			p {
				font-family: Playfair Display;
				font-size: 2.5rem;
				color: #464646;
				padding: 1.25% 0;
				line-height: 40px;
			}
		}

		#logos {
			padding: 0;

			img {
				padding: 10px;
			}
		}
	}



	/*after clients div */


	div {
		margin: 0;
		padding: 0;

		img {
			margin: 0;
			padding: 0 !important;
		}
	}



	/*footer section*/

	footer {
		background: #464646;
		background-size: cover;
		background-position: center-bottom;
		display: flex;
		align-items: center;

		div {
			display: flex;
			align-items: center;
			margin: 15px 0;

			&:nth-of-type(1){

				p {
					font-family: Open Sans Condensed;
					color: #fff;
					font-size: 2rem;
					margin-bottom: 0;
					padding: 0 10px;
				}
			}

			span {
				color: #ccffdd;
			}

			&:nth-of-type(2) {
				padding: 30px 10px;
				justify-content: flex-end;

				a {
					padding: 0;
					margin: 0 10px;

					img {
						padding: 0;
						max-width: 52px;
						max-height: 52px;
					}
				}
			}

			a:link, a:active, a:visited {
				color: #fff;
				text-decoration: none;
			}

			a:hover {
				color: #ccffdd;
				text-decoration: none;
			}
		}
	}
}













/*media queries*/

@media (max-width: 1772px) {

	body {

		#main {

			.parent-container {

				#logo {
					top: 4;
					left: 60;

					h3 {
						font-size: 3rem;

						span {
							left: 160;
						}
					}
				}
			}
		}
	}
}










@media (max-width: 1656px) {
	body {

		#three_values {

			#vision {

				p {
					line-height: 35px;
				}
			}

			#strategy {

				p {
					line-height: 35px;
				}
			}
		}
	}
}













@media (max-width: 1474px) {
	html {
		font-size: 6.5px;

		body {

			#nav {
				font-size: 7rem;
			}


			#main {

				.parent-container {

					#logo {
						top: -2;
						left: 45;

						h3 {
							font-size: 4rem;

							span {
								left: 140;
							}
						}
					}
				}
			}

			/*Three Values section */


			#three_values {

				#vision {

					p {
						line-height: 35px;
					}
				}

				#strategy {

					p {

						line-height: 35px;
					}
				}
			}

			footer {

				div {

					p {
						font-size: 2.5rem;
					}
				}
			}
		}
	}
}




@media (max-width: 1220px) {
	html {
		font-size: 6px;

		body {

			#main {

				.parent-container {

					#logo {
						left: 45;
						top: -3;

						h3 {
							
							span {
								left: 132;
							}
						}
					}
				}
			}
		}
	}
}






@media (max-width: 1200px) {

	html {

		body {

			#main {

				#menu_button_container {

					.menu_button {

						.bar {

							border-right: 7rem solid #ffffff;
							height: .8rem ;
							margin: 1.5rem  0;

							&:after {
							border-right: 7rem solid #ffffff;
							height: .8rem;
							}

						}

						.bar-scroll {
							border-right: 7rem solid #464646;

							&:nth-of-type(2):after {
								border-right: 7rem solid #464646;
							}
						}

						.pushed {
							border-right: 7rem solid #464646;
						
							&:after {
								border-right: 7rem solid #464646;

							}	
						}
					}
				}

				#nav {
					font-size: 8rem;
					margin-left: 0;
				}

				.parent-container {

					#logo {
						top: -2;
						left: 60;

						h3 {
							font-size: 6rem;

							span {
								left: 190;
							}
						}
					}
				}
			}

			/*Three Values section */


			#three_values {

				#vision {

					span {
						top: -60;
					}

					p {
						top: 40;
					}
				}

				#strategy {

					span {
						top: -70;
						left: 200;
					}

					p {
						top: 50;
					}
				}
			}

			footer {

				div {

					p {
						font-size: 3rem;
					}
				}
			}
		}
	}
}



@media (max-width: 1096px) {
	html {

		body {

			#three_values {

				#vision {

					span {
						top: -30;
					}

				}

				#strategy {

					span {
						top: -40;
						left: 200;
					}
				}
			}

			#clients {

				span {
					font-size: 10rem;
				}
			}
		}
	}
}




@media (max-width: 992px) {
	html {

		body {

			#intro {
				p {	
					line-height: 20px;
				}
			}

			#three_values {

				#vision {

					p {
						line-height: 20px;
					}

				}

				#strategy {

					p {
						line-height: 20px;
					}
				}

				#advantage {

					p {
						line-height: 20px;
					}
				}
			}

			#clients {

				p {
					line-height: 20px;
				}
			}
		}
	}
}




@media (max-width: 768px) {
	html {
		font-size: 7px;

		body {

			#main {

				#menu_button_container {

					.menu_button {

						.bar {
							height: .6rem;
							border-width: 5rem;
							margin: 1rem 0;

							&:after {
								height: .6rem;
								border-width: 5rem;
							}

						}

						.bar-scroll {

							&:nth-of-type(2):after {
								border-width: 5rem;
							}
						}
					}
				}

				.parent-container {

					#logo {
						left: 50;
						top: -5;

						h3 {
							font-size: 4.5rem;
							span {
								left: 170;
							}
						}
					}
				}
			}

			#intro {
				p {	
					line-height: 40px;
				}
			}

			#three_values {

				#vision {
					flex-direction: column;
					align-items: center;

					img {
						margin: 0;
					}

					div{
						position: relative;
						display: flex;
						flex-direction: column;
						align-items: center;
						padding: 0 15px;

						span {
							position: absolute;
							left: 0;
							top: -90;
						}

						p {
							line-height: 40px;
							padding: 100px 0;
						}
					}
				}

				#value-photos {

					img {
						width: 100%;
					}

					img:nth-of-type(1){
						display: none;
					}
				}

				#strategy {
					flex-direction: column;

					div{
						position: relative;
						display: flex;
						flex-direction: column;
						align-items: center;
						padding: 0 15px;

						span {
							position: absolute;
							top: -90;
							left: 0;
						}

						p {
							line-height: 40px;
							padding: 100px 0;
						}
					}

					img {
						left: 0;
					}
				}

				#advantage {

					p{
						line-height: 40px;
					}
				}
			}

			#clients {
				padding: 25px 15px 55px 15px;

				span {
					font-size: 20rem;
				}

				p {
					line-height: 40px;
				}
			}

			footer {
				flex-direction: column;

				div{

					&:nth-of-type(1) {
						padding: 0;
						justify-content: space-between;
						margin: 0;
						
						p {
							font-size: 3.5rem;
							
							padding: 30px 0;
						}
					}

					&:nth-of-type(2) {
						justify-content: center;
						margin: 0;
						padding: 0;

						img {
							margin-bottom: 30px;
						}
					}
				}
			}
		}
	}
}




@media (max-width: 540px) {
	html {
		font-size:7px;

		body {

			#main{
				#menu_button_container {

					.menu_button {
						top: 2;
						left:-7;

						.bar {
							height: .5rem;
							border-width: 4rem;
							margin: .75rem 0;

							&:after {
								height: .5rem;
								border-width: 4rem;
							}

						}

						.bar-scroll {

							&:nth-of-type(2):after {
								border-width: 4rem;
							}
						}
					}
				}

				#quote {
					padding: 0;

					span {

						&:nth-of-type(1),
						&:nth-of-type(3) {
							font-size: 8rem;
							padding: 0;
						}

						&:nth-of-type(2) {
							font-size: 5rem;
						}
					}
				}

				.parent-container {

					#logo {
						left: 32;
						top: -5;

						h3 {
							font-size:4rem;

							span {
								left: 150;
							}
						}
					}
				}
			}

			#three_values {

				#vision {

					div{

						span {
							top: -65;
							font-size: 11rem;
						}

						p {
							padding: 50px 0;
						}
					}
				}

				#strategy {

					div{

						span {
							top: -50;
							font-size: 11rem;
						}

						p {
							padding: 50px 0;
						}
					}
				}
			}

			#clients {

				span {
					font-size: 11rem;
				}
			}

			footer {

				div {

					&:nth-of-type(1) {
						padding: 0;
						justify-content: space-between;
						margin: 0;
						
						p {
							font-size: 2.25rem;
							
							padding: 30px 0;
						}
					}

					&:nth-of-type(2) {

						img {
							max-width: 40px;
						}
					}
				}
			}
		}
	}
}
